@use '../../../scss/mixins';
@use '../../../scss/variables';

.driver-list-card {
  width: 100%;
  min-height: 60px;
  @include mixins.flexbox-start;
  background: white;
  cursor: pointer;
  transition: variables.$trans-speed;
  position: relative;
  padding: 5px 7.5%;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;

  .main-icon-container {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    position: relative;
    @include mixins.flexbox;

    > :last-child {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .driver-list-content {
    height: 100%;
    flex-grow: 1;
    @include mixins.flexbox-column;
    align-items: start;
    padding: 10px 0;
    box-sizing: border-box;
    margin-left: 20px;
    overflow: hidden;

    .driver-list-title {
      width: 100%;
      color: variables.$colour-9;
      margin-bottom: 8px;
      text-transform: capitalize;
      overflow-wrap: break-word;
      font-size: 15px;
    }

    .driver-list-teams {
      width: 100%;
      @include mixins.flexbox-start;

      > *:not(:first-child) {
        margin-left: 5px;
      }
    }
  }

  &:hover {
    background: rgba(0, 0, 0, 0.06);
  }

  // Adds spacing between consecutive DriverListCards.
  & + .driver-list-card {
    margin-top: 2px;
  }

  // Highlight animation for newly created drivers.
  &.driver-list-card-highlight {
    animation: highlightFade 1.5s ease-out forwards;
  }
}

@keyframes highlightFade {
  0% {
    background: variables.$mui-success;
  }
  100% {
    background: white;
  }
}
