@use '../../../../scss/mixins';
@use '../../../../scss/variables';

.badges-view {
  width: 100%;
  @include mixins.flexbox-start-column;
  flex-shrink: 0;
  flex-grow: 1;
  box-sizing: border-box;

  .badge-info-card-container {
    padding: 20px 7.5% 0;
    box-sizing: border-box;
  }
}
