@use '../../../../scss/variables';
@use '../../../../scss/mixins';

.badge-outer {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  pointer-events: none;
  box-sizing: border-box;
  border-radius: 50%;
  border: 6px solid variables.$silver;
  opacity: 0.9;
  @include mixins.flexbox;
  transition: border 1s, box-shadow 1s;

  .badge-middle {
    width: calc(100% - 1px);
    height: calc(100% - 1px);
    border-radius: 50%;
    border: 4px solid variables.$silver;
    box-sizing: border-box;
    opacity: 0.6;
    @include mixins.flexbox;
    transition: 1s;

    .badge-inner {
      width: calc(100% - 1px);
      height: calc(100% - 1px);
      border-radius: 50%;
      border: 2px solid variables.$silver;
      box-sizing: border-box;
      opacity: 0.4;
      transition: 1s;
    }
  }
}