@use '../../../../../scss/mixins';

.betting-open-view {
  width: 100%;
  @include mixins.flexbox-column;
  flex-grow: 1;
  padding: 20px 5%;
  box-sizing: border-box;
  overflow-y: auto;

  .drivers-grid {
    @include mixins.flexbox;
    flex-wrap: wrap;
    width: 100%;
    gap: 0.5rem;
  }

  .advance-btn {
    margin-top: 2rem;
  }
}
