@use '../../../scss/mixins';
@use '../../../scss/variables';

.series-picker {
  width: 100%;
  @include mixins.flexbox-column;
  flex-grow: 1;
  flex-shrink: 0;

  .search {
    position: sticky;
    top: 66px;
    z-index: 6;
    margin-bottom: 0 !important;
    border-bottom: 2px solid variables.$background !important;
  }

  .series-card-selected {
    position: sticky;
    top: 124px;
    z-index: 5;
  }

  .series-list-container {
    width: 100%;
    position: relative;
    flex-grow: 1;
    @include mixins.flexbox-start-column;

    .series-list, .series-empty {
      width: 100%;
      @include mixins.flexbox-start-column;
      overflow-y: scroll;
      background: #ffffff;
    }

    .series-empty {
      padding: 20px 7.5%;
      box-sizing: border-box;
    }

    .series-error {
      color: variables.$delete-hover;
    }
  }
}
