@use '../../../scss/mixins';
@use '../../../scss/variables';

.series-picker {
  width: 100%;
  @include mixins.flexbox-column;
  flex-grow: 1;

  .search {
    position: sticky;
    top: 64px !important;
    flex-shrink: 0;
    z-index: 4;
    margin-bottom: 0 !important;
    border-bottom: 2px solid variables.$background !important;
  }

  .series-list-container {
    width: 100%;
    flex-grow: 1;
    @include mixins.flexbox-start-column;

    .series-list, .series-empty {
      width: 100%;
      @include mixins.flexbox-start-column;
    }

    .series-list {
      gap: 2px;
    }

    .series-empty {
      padding: 20px 7.5%;
      box-sizing: border-box;
    }

    .series-error {
      color: variables.$delete-hover;
    }
  }

  // Sticky ButtonBar overlaps content (no blank space at bottom).
  .button-bar {
    margin-top: -72px;
  }
}
