@use '../../../scss/variables';
@use '../../../scss/mixins';

.points-container {
  width: 30px;
  height: 30px;
  margin: 10px;
  color: variables.$colour-9;
  @include mixins.flexbox;
  position: relative;
  flex-shrink: 0;

  .pts, .last {
    position: absolute;
    font-size: 8px;
  }

  .last {
    top: -5px;
    color: variables.$mui-success-hover;
  }

  .pts {
    bottom: -5px;
  }

  .add-points, .remove-points {
    position: absolute;
    color: variables.$mui-blue;
    cursor: pointer;
    @include mixins.flexbox;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);

    svg {
      width: 32px;
      height: 32px;
      filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.1));
    }

    &:hover {
      opacity: 1;
      color: variables.$mui-success;
      filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.15));
    }

    &:active {
      transform: scale(0.9);
    }
  }

  .add-points {
    top: -22px;

    &:hover {
      transform: translateY(-3px);
    }
  }

  .remove-points {
    bottom: -22px;

    &:hover {
      transform: translateY(3px);
      color: variables.$error;
    }
  }

  .total {
    &.gold { color: variables.$gold; }
    &.silver { color: variables.$silver; }
    &.bronze { color: variables.$bronze; }
  }
}
