@use '../../../scss/variables';
@use '../../../scss/mixins';

.points-container {
  width: 30px;
  height: 30px;
  margin: 10px;
  color: variables.$colour-9;
  @include mixins.flexbox;
  position: relative;
  flex-shrink: 0;

  .pts, .last {
    position: absolute;
    font-size: 8px;
  }

  .last {
    top: -5px;
    color: variables.$mui-success-hover;
  }

  .pts {
    bottom: -5px;
  }

  .add-points, .remove-points {
    position: absolute;
    color: variables.$mui-blue;
    cursor: pointer;
    display: flex;
    transition: transform variables.$trans-speed;
    
    svg {
      font-size: 42px;
    }

    &:hover {
      transform: scale(1.30);
    }
  }

  .add-points {
    top: -26px;
  }

  .remove-points {
    bottom: -26px;
  }

  .total {
    &.gold { color: variables.$gold; }
    &.silver { color: variables.$silver; }
    &.bronze { color: variables.$bronze; }
  }
}
