@use '../../../../scss/mixins';
@use '../../../../scss/variables';

// Displays a row of championship stats with icons and values.
.champ-banner-stats {
  width: 100%;
  display: flex;
  justify-content: start;
  gap: 6px;
  // Keep stats vertically centered when name is hidden.
  align-self: center;
  // Spacing for bottom stats row.
  &:last-child {
    margin-bottom: 10px;
  }
  // Spacing for top stats row.
  &:first-child {
    margin-top: 10px;
  }

  .champ-stat {
    @include mixins.flexbox;
    gap: 4px;
    color: variables.$colour-6;

    svg {
      font-size: 15px;
    }

    span {
      font-size: 13px;
      font-weight: 500;
      letter-spacing: 0.5px;
    }
  }

  @media (min-width: 400px) {
    gap: 12px;

    .champ-stat {
      span {
        letter-spacing: 1px;
      }
    }
  }
}
