@use '../../../../../scss/mixins';

.countdown-view {
  width: 100%;
  @include mixins.flexbox-space-between-column;
  flex-shrink: 0;
  flex-grow: 1;
  padding: 40px 7.5%;
  box-sizing: border-box;

  .countdown-top {
    @include mixins.flexbox-column;
    margin-bottom: 20px;

    h2 {
      margin-bottom: 5px;
      transition: opacity 0.3s ease;

      &.fading {
        opacity: 0;
      }
    }

    p {
      margin-bottom: 40px;
      transition: opacity 0.3s ease;

      &.fading {
        opacity: 0;
      }
    }
  }

  .fading .timer {
    opacity: 0;
  }

  .skip-timer-btn {
    border-color: #9e9e9e;
    color: #9e9e9e;

    &:hover {
      border-color: #757575;
      background-color: rgba(158, 158, 158, 0.08);
    }

    &.stuck {
      border-color: #4caf50;
      color: #4caf50;

      &:hover {
        border-color: #388e3c;
        background-color: rgba(76, 175, 80, 0.08);
      }
    }
  }
}
