@use '../../../scss/variables';

.styled-text {
  position: relative;
  text-shadow: variables.$shadow-text;

  // Colour variants
  &.gold {
    color: variables.$gold;
  }

  &.silver {
    color: variables.$silver;
  }

  &.bronze {
    color: variables.$bronze;
  }

  &.default {
    color: inherit;
  }
}
