@use '../../../scss/mixins';
@use '../../../scss/variables';

.competitor-list-card {
  width: 100%;
  min-height: 88px;
  @include mixins.flexbox-start;
  background: white;
  cursor: pointer;
  transition: variables.$trans-speed;
  padding: 5px 7.5%;
  box-sizing: border-box;

  .image-icon {
    margin-right: 10px;
  }

  .competitor-name {
    color: variables.$colour-9;
    text-transform: capitalize;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.06);
  }

  // Highlight animation for newly added competitors.
  &__highlight {
    animation: highlightFade 1.5s ease-out forwards;
  }

  // Inactive competitor styling (banned/left/deleted).
  &--inactive {
    background: variables.$colour-1;
    cursor: default;

    // Fade child elements individually (not the unban button).
    .image-icon,
    .points,
    .competitor-name {
      opacity: 0.7;
    }
  }

  // Kick button styling (grey, to the left of ban).
  .kick-button {
    margin-left: auto;
    flex-shrink: 0;
    background-color: variables.$colour-6 !important;
    color: white !important;

    &:hover {
      background-color: variables.$colour-9 !important;
    }
  }

  .invite-button {
    margin-left: auto;
    flex-shrink: 0;
    background-color: variables.$mui-success !important;
    color: white !important;

    &:hover {
      background-color: variables.$mui-success-hover !important;
    }
  }

  // Ban button styling.
  .ban-button {
    margin-left: 8px;
    flex-shrink: 0;
  }

  // Unban button styling.
  .unban-button {
    margin-left: auto;
    flex-shrink: 0;
  }
}

// Keyframes for green to white fade animation.
@keyframes highlightFade {
  0% {
    background: variables.$mui-success;
  }
  100% {
    background: white;
  }
}
