@use '../../../scss/mixins';
@use '../../../scss/variables';

.profile-card {
  width: 100%;
  background: white;
  @include mixins.flexbox;
  margin-bottom: 2px;

  .profile-icon-container,
  .profile-dropzone-container {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 20px;
    flex-shrink: 0;
  }

  .profile-info {
    height: 100%;
    flex-grow: 1;
    @include mixins.flexbox-column;
    align-items: start;
    padding-right: 20px;

    p {
      color: variables.$colour-6;
      margin-bottom: 5px;
    }

    h5 {
      font-weight: 300;
    }

    // Date shown separately on small viewports.
    .profile-created-at {
      display: none;

      @media (max-width: 419px) {
        display: block;
      }
    }

    // Hide inline date on small viewports.
    .profile-since-date {
      @media (max-width: 419px) {
        display: none;
      }
    }

    .featured-badges {
      margin-top: 10px;
    }
  }
}