@use '../../../scss/mixins';
@use '../../../scss/variables';

.profile-card {
  width: 100%;
  background: white;
  @include mixins.flexbox;
  margin-bottom: 2px;

  .profile-icon-container {
    width: 100px;
    height: 100px;
    margin: 20px;
    flex-shrink: 0;
  }

  .profile-info {
    height: 100%;
    flex-grow: 1;
    @include mixins.flexbox-column;
    align-items: start;

    p {
      color: variables.$colour-6;
      margin-bottom: 2px;
    }

    h5 {
      font-weight: 300;
    }

    .featured-badges {
      margin-top: 10px;
      display: flex;
      gap: 5px;

      // Wrapper for badges in featured slots - makes them clickable.
      .featured-slot {
        cursor: pointer;
        border-radius: 50%;
        transition: all 0.2s ease;

        &:hover {
          transform: scale(1.05);
        }
      }

      .badge {
        width: 32px;
        height: 32px;
      }
    }
  }
}