@use '../../../../scss/mixins';
@use '../../../../scss/variables';

.champ-banner {
  width: 100%;
  background: white;
  @include mixins.flexbox;
  border-bottom: 2px solid variables.$background;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
  height: 140px;

  .champ-banner-icon-container {
    width: 100px;
    height: 100px;
    margin: 20px;
    flex-shrink: 0;
    cursor: pointer;
  }

  // DropZone styles (editable mode) - overrides default dropzone sizing.
  .dropzone {
    width: 100px;
    height: 100px;
    margin: 20px;
  }

  .champ-banner-info {
    height: 100%;
    flex-grow: 1;
    @include mixins.flexbox-space-between-column;
    align-items: start;
    overflow: hidden;
    padding-right: 20px;
    cursor: pointer;

    .champ-name-container {
      width: 100%;
      flex-grow: 1;
      margin-top: 10px;
      @include mixins.flexbox-column;
      overflow: hidden;

      p {
        width: 100%;
        color: variables.$colour-6;
        overflow-wrap: break-word;
        word-wrap: break-word;
      }
    }

    h5 {
      font-weight: 300;
    }
  }
}
