@use '../../../scss/mixins';
@use '../../../scss/variables';

.champ-card {
  width: 100%;
  min-height: 60px;
  @include mixins.flexbox-start;
  background: white;
  cursor: pointer;
  transition: variables.$trans-speed;
  position: relative;
  padding: 5px 7.5%;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;

  .main-icon-container {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    position: relative;
    @include mixins.flexbox;

    > :last-child {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .champ-content {
    height: 100%;
    flex-grow: 1;
    @include mixins.flexbox-column;
    align-items: start;
    padding: 10px 0;
    box-sizing: border-box;
    margin-left: 20px;
    overflow: hidden;

    .champ-title {
      width: 100%;
      color: variables.$colour-9;
      margin-bottom: 8px;
      text-transform: capitalize;
      overflow-wrap: break-word;
      font-size: 15px;
    }

    .champ-drivers {
      width: 100%;
      @include mixins.flexbox-start;

      > *:not(:first-child) {
        margin-left: 5px;
      }
    }
  }
  
  &:hover {
    background: rgba(0, 0, 0, 0.06);
  }
}