@use '../../../scss/mixins';
@use '../../../scss/variables';

.champ-banner {
  width: 100%;
  background: white;
  @include mixins.flexbox;
  margin-bottom: 2px;

  .champ-banner-icon-container {
    width: 100px;
    height: 100px;
    margin: 20px;
    flex-shrink: 0;
  }

  .champ-banner-info {
    height: 100%;
    flex-grow: 1;
    @include mixins.flexbox-column;
    align-items: start;
    overflow: hidden;
    padding-right: 20px;

    p {
      width: 100%;
      color: variables.$colour-6;
      margin-bottom: 2px;
      overflow-wrap: break-word;
      word-wrap: break-word;
    }

    h5 {
      font-weight: 300;
    }
  }
}
