@use '../../../scss/mixins';
@use '../../../scss/variables';

.champ-banner {
  width: 100%;
  background: white;
  @include mixins.flexbox;
  margin-bottom: 2px;

  .champ-banner-icon-container {
    width: 100px;
    height: 100px;
    margin: 20px;
    flex-shrink: 0;
    cursor: pointer;
  }

  .champ-banner-info {
    height: 100%;
    flex-grow: 1;
    @include mixins.flexbox-column;
    align-items: start;
    overflow: hidden;
    padding-right: 20px;
    cursor: pointer;

    p {
      width: 100%;
      color: variables.$colour-6;
      overflow-wrap: break-word;
      word-wrap: break-word;
    }

    h5 {
      font-weight: 300;
    }

    .champ-banner-stats {
      width: 100%;
      display: flex;
      justify-content: start;
      gap: 6px;
      margin-top: 15px;

      @media (min-width: 400px) {
        gap: 15px;
      }

      .champ-stat {
        @include mixins.flexbox;
        gap: 4px;
        color: variables.$colour-6;

        svg {
          font-size: 18px;
        }

        span {
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }
}
