@use '../../../../../../../scss/mixins';
@use '../../../../../../../scss/variables';

.f1-driver-card {
  width: 100%;
  padding: 8px 20px;
  box-sizing: border-box;
  margin-bottom: 2px;
  @include mixins.flexbox-start;
  gap: 8px;
  background: white;
  cursor: pointer;
  transition: all variables.$trans-speed;

  .driver-image-wrapper {
    width: 26px;
    height: 26px;
    flex-shrink: 0;
  }

  .driver-id {
    width: 38px;
    color: variables.$colour-9;
    flex-shrink: 0;
  }

  .timing-info {
    height: 100%;
    flex-grow: 1;

    .timing-stats {
      color: variables.$colour-9;
      @include mixins.flexbox-space-between;

      h5 {
        font-size: 10px;
        letter-spacing: 0.6px;
        width: 33.3%;
      }
    }
  }

  // Highlighted state when this driver is selected in driver view.
  &--selected {
    background: rgba(25, 118, 210, 0.12);
    box-shadow: inset 3px 0 0 #1976d2;
  }
}
