@use '../../../scss/mixins';
@use '../../../scss/variables';

.floating-champ-card {
  width: 100%;
  height: 60px;
  @include mixins.flexbox-space-between;
  background: white;
  cursor: pointer;
  transition: variables.$trans-speed;
  position: relative;
  padding: 8px 16px;
  gap: 12px;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid variables.$border;

  .floating-champ-left {
    display: flex;
    align-items: center;
    height: 100%;
    overflow: hidden;

    .main-icon-container {
      height: 80%;
      aspect-ratio: 1/1;
      flex-shrink: 0;
      position: relative;
      @include mixins.flexbox;
    }

    .champ-content {
      height: 100%;
      @include mixins.flexbox-column;
      align-items: start;
      justify-content: center;
      box-sizing: border-box;
      margin-left: 12px;
      overflow: hidden;

      .champ-title {
        color: variables.$colour-9;
        text-transform: capitalize;
        overflow-wrap: break-word;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }

  // Override champ-banner-stats margins.
  .champ-banner-stats {
    width: auto;
    margin: 0;

    &:first-child,
    &:last-child {
      margin: 0;
    }
  }

  &:hover {
    background: rgba(0, 0, 0, 0.06);
  }
}
