@use '../../../scss/mixins';
@use '../../../scss/variables';

.floating-champ-card {
  width: 100%;
  height: 60px;
  @include mixins.flexbox-start;
  background: white;
  cursor: pointer;
  transition: variables.$trans-speed;
  position: relative;
  padding: 5px 20px;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid variables.$border;

  .main-icon-container {
    height: 80%;
    aspect-ratio: 1/1;
    flex-shrink: 0;
    position: relative;
    @include mixins.flexbox;
  }

  .champ-content {
    height: 100%;
    flex-grow: 1;
    @include mixins.flexbox-column;
    align-items: start;
    padding: 10px 0;
    box-sizing: border-box;
    margin-left: 20px;
    overflow: hidden;

    .champ-title {
      width: 100%;
      color: variables.$colour-9;
      text-transform: capitalize;
      overflow-wrap: break-word;
      font-size: 15px;
    }
  }

  &:hover {
    background: rgba(0, 0, 0, 0.06);
  }
}
