@use '../../../../scss/variables';
@use '../../../../scss/mixins';

.badge-icon {
  .badge-icon-counter {
    @include mixins.flexbox;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 4px;
    right: 4px;
    background: variables.$pirelli-red;
    border-radius: 50%;

    p {
      color: white;
    }
  }
}