@use '../../../../../scss/variables';
@use '../../../../../scss/mixins';

.results-view {
  @include mixins.flexbox-column;
  width: 100%;
  padding: 16px 0;

  h2 {
    font-size: 18px;
    font-weight: 600;
    color: variables.$colour-9;
    margin-bottom: 8px;
    text-align: center;
  }

  // Container for competitor result cards below the podium.
  &__list {
    width: 100%;
  }

  // Timer and skip button at the top of the results view.
  &__header {
    width: 100%;
    @include mixins.flexbox;
    gap: 8px;
    margin-bottom: 16px;
    position: relative;

    // Override Timer component font-size to be small within results view.
    .timer {
      font-size: 1.25rem;
    }

    .skip-btn {
      position: absolute;
      right: 20px;
      padding: 0;
      background: none;
    }
  }
}
