@use '../../scss/variables';
@use '../../scss/mixins';

.driver-profile {
  position: relative;
  overflow: hidden !important;
  overflow-y: hidden !important;
  @include mixins.flexbox-start-column;
  align-items: start !important;
  

  .driver-body-image {
    position: absolute;
    top: 0;
    right: -90px;
    height: 130%;
    z-index: 0;
  }

  .driver-content {
    position: relative;
    z-index: 1;
    width: 62%;
    flex-grow: 1;
    @include mixins.flexbox-start-column;
    align-items: start;

    .driver-header {
      width: 100%;
      min-height: 80px;
      @include mixins.flexbox-start-column;
      align-items: start;
      padding: 20px 10%;

      .image-icon {
        margin-right: 20px;
      }
    }

    .driver-stats {
      width: 80%;
      flex-grow: 1;
      @include mixins.flexbox-start-column;
      align-items: start;
      padding: 20px 10%;

      span {
        color: variables.$colour-6;
      }

      > *:not(:last-child) {
        margin-bottom: 20px;
      }

      .driver-teams, .driver-series {
        width: 100%;
        @include mixins.flexbox-start;
        gap: 5px;
        flex-shrink: 0;
        min-height: 32px;
      }

      .driver-championships {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;
        gap: 5px;
        overflow-y: auto;
        flex-grow: 1;
      }
    }
  }

  .edit-button-absolute {
    z-index: 10;
  }
}
