@use '../../../../scss/mixins';
@use '../../../../scss/variables';

.badge-picker-edit {
  width: 100%;
  @include mixins.flexbox-start-column;
  flex-shrink: 0;
  flex-grow: 1;
  padding: 20px 7.5%;
  box-sizing: border-box;
  background: white;
  overflow-y: scroll;

  .badge-picker-top-bar {
    width: 100%;
    @include mixins.flexbox-space-between;
    margin-bottom: 40px;
    color: variables.$colour-6;

    .default {
      color: variables.$mui-blue;
    }
  }

  .badge-wrapper {
    width: 60%;
    margin-bottom: 40px;
    position: relative;
    @include mixins.flexbox;
  }
}