@use '../../../../scss/mixins';
@use '../../../../scss/variables';

.image-icon {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }
}

// Colored circle fallback shown when no headshot image is available.
.image-icon-fallback {
  width: 100%;
  height: 100%;
  @include mixins.flexbox;
  position: absolute;
  background: variables.$background !important;

  span {
    font-family: 'formula1-bold', sans-serif;
    font-size: 13px;
    font-weight: 600;
  }
}

.image-icon-background {
  background: white;
}