@use '../../../../scss/mixins';
@use '../../../../scss/variables';

.image-icon {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }
}

.image-icon-background {
  background: white;
}