@use '../../../../../scss/mixins';
@use '../../../../../scss/variables';

.update-champ-name {
  width: 100%;
  background: white;
  @include mixins.flexbox;
  margin-bottom: 2px;
  padding: 0 20px;
  box-sizing: border-box;

  .mui-form-el {
    margin: 20px 20px 20px 0;
  }
}
