@use '../../../scss/variables';
@use '../../../scss/mixins';

.icon, .icon-small, .icon-medium, .icon-medium-large, .icon-large, .icon-x-large, .icon-xx-large, .icon-contained {
  box-shadow: variables.$shadow-close;
  @include mixins.flexbox;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
  pointer-events: none;
  border-radius: 50%;
  width: 22px;
  height: 22px;
}

.icon-medium {
  width: 32px;
  height: 32px;
}

.icon-medium-large {
  width: 40px;
  height: 40px;
}

.icon-large {
  width: 50px;
  height: 50px;
}

.icon-x-large {
  width: 60px;
  height: 60px;
}

.icon-xx-large {
  width: 80px;
  height: 80px;
}

.icon-contained {
  width: 100%;
  height: 100%;
}