@use '../../../../../scss/keyframes';

.badge-spinner {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  z-index: 3;
  box-sizing: border-box;
  animation: rotation 3s linear infinite;
  pointer-events: none;

  // Epic: single light area, slower spin
  &--epic {
    animation: rotation 6s linear infinite;
  }

  // Rare: single light area, slowest spin
  &--rare {
    animation: rotation 7s linear infinite;
  }
}