@use '../../../../scss/mixins';
@use '../../../../scss/variables';

.automation-view {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

  h3 {
    margin-bottom: 10px;
  }

  p {
    color: variables.$colour-6;
  }
}
