@use '../../../scss/mixins';
@use '../../../scss/variables';

.champ-toolbar {
  width: 100%;
  @include mixins.flexbox-end;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  z-index: 3;
  pointer-events: none;

  * {
    pointer-events: all;
  }

  > *:not(:first-child) {
    margin-left: 10px;
  }

  .champ-toolbar-back {
    background-color: variables.$colour-4 !important;
    margin-right: auto;

    &:hover {
      background-color: darken(variables.$colour-4, 10%) !important;
    }
  }

  .champ-toolbar-join {
    background-color: variables.$mui-success !important;

    &:hover {
      background-color: variables.$mui-success-hover !important;
    }
  }
}
