@use '../../../../scss/mixins';

.start-lights-container {
  width: 90%;
  position: relative;

  .start-lights {
    position: absolute;
    inset: 0;
    padding: 3% 1% 2% 0.5%;
    z-index: 1;

    .start-light-row {
      @include mixins.flexbox-space-between;
      width: 100%;
      height: 22.5%;
      margin-bottom: 2%;

      .start-light-circle {
        width: 13%;
        height: 100%;
        border-radius: 50%;
      }
    }
  }

  img {
    width: 100%;
    display: block;
    position: relative;
    z-index: 2;
  }
}