@use '../../../../../../../../scss/mixins';
@use '../../../../../../../../scss/variables';

.tyre-laps {
  width: 40px;
  height: 100%;
  @include mixins.flexbox-column;
  align-items: start;

  .in-pits, .DNS, .DNF, .DSQ {
    color: variables.$mui-blue;
    font-size: 12px;
  }

  .DNS {
    color: variables.$orange;
  }

  .DNF {
    color: variables.$f1-red;
  }

  .DSQ {
    color: variables.$f1-red-hover;
  }

  .laps-old {
    color: variables.$colour-9;
    font-size: 10px;
  }

  .last-pit {
    color: variables.$colour-4;
    font-size: 10px;
  }
}