@use '../../../scss/mixins';
@use '../../../scss/variables';

.team-list-card {
  width: 100%;
  min-height: 60px;
  @include mixins.flexbox-start;
  background: white;
  cursor: pointer;
  position: relative;
  padding: 5px 7.5%;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;

  .main-icon-container {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    position: relative;
    @include mixins.flexbox;

    > :last-child {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .team-list-content {
    height: 100%;
    flex-grow: 1;
    @include mixins.flexbox-column;
    align-items: start;
    padding: 10px 0;
    box-sizing: border-box;
    margin-left: 20px;
    overflow: hidden;

    .team-list-title {
      width: 100%;
      color: variables.$colour-9;
      margin-bottom: 8px;
      text-transform: capitalize;
      overflow-wrap: break-word;
      font-size: 15px;
    }

    .team-list-drivers {
      width: 100%;
      min-height: 32px;
      @include mixins.flexbox-start;

      > *:not(:first-child) {
        margin-left: 5px;
      }
    }
  }

  &:hover {
    background: rgba(0, 0, 0, 0.06);
  }

  // Highlight animation for newly created teams.
  &__highlight {
    animation: highlightFade 1.5s ease-out forwards;
  }

  // Entry modifier when showing points.
  &__entry {
    .main-icon-container {
      margin-right: 10px;
    }

    .team-list-content {
      margin-left: 10px;

      .team-list-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

@keyframes highlightFade {
  0% {
    background: variables.$mui-success;
  }
  100% {
    background: white;
  }
}
