@use '../../../scss/mixins';
@use '../../../scss/variables';

.series-card {
  width: 100%;
  min-height: 60px;
  @include mixins.flexbox-start;
  transition: variables.$trans-speed;
  padding: 10px 20px;
  box-sizing: border-box;

  &__icon {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50%;
    box-shadow: variables.$shadow-surround;
    overflow: hidden;
    @include mixins.flexbox;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    flex-grow: 1;
    margin-left: 16px;
    font-size: 15px;
    color: variables.$colour-9;
  }
}
