@use '../../../../scss/variables';
@use '../../../../scss/mixins';

.rounds-bar {
  width: 100%;
  @include mixins.flexbox-space-between;
  background: white;
  flex-shrink: 0;
  border-bottom: 2px solid variables.$background;

  p, svg {
    color: variables.$colour-6;
  }

  // Shared styles for nav and view buttons.
  .rounds-bar-nav-btn, .rounds-bar-toggle-group, .rounds-bar-view-btn {
    height: 40px;
    border: 0px;
    border-radius: 0px;
    white-space: nowrap;

    &.Mui-selected {
      background-color: variables.$mui-blue;

      p, svg {
        color: white;
      }

      &:hover {
        background-color: variables.$mui-blue-hover;
      }
    }

    &:disabled {
      border: 0px;

      p, svg {
          color: variables.$colour-2;
        }
    }
  }

  .rounds-bar-view-btn {
    width: 40px;
  }

  .rounds-bar-nav-btn {
    flex: 1;
    min-width: 0;
  }

  // Start next round button (adjudicator only)
  .rounds-bar-start-btn {
    @include mixins.flexbox;
    background: variables.$mui-success;

    p, svg {
      color: white;
    }

    &:hover {
      background-color: variables.$mui-success-hover;
    }

    .rounds-bar-favicon {
      width: 20px;
      height: 20px;
      animation: spin 2s linear infinite;
    }
  }
}