@use '../../scss/mixins';
@use '../../scss/variables';

body #root .main-logged-in .content-container.create-series {
  @include mixins.flexbox-start-column;
  padding: 20px 7.5%;
  box-sizing: border-box;
  background: white;

  .create-series-top-bar {
    width: 100%;
    @include mixins.flexbox-space-between;
    margin-bottom: 40px;
    color: variables.$colour-6;

    .official {
      color: variables.$mui-blue;
    }
  }

  .dropzone {
    width: 60%;
    margin-bottom: 60px !important;
  }
}
