@use '../../../../../../scss/mixins';

.f1-session-view {
  width: 100%;
  @include mixins.flexbox-space-between-column;
  flex-grow: 1;
  padding: 20px 5% 40px;
  box-sizing: border-box;
  overflow-y: auto;

  .f1-session-title {
    margin-bottom: 5px;
  }

  .f1-session-subtitle {
    margin-bottom: 20px;
    opacity: 0.7;
    font-size: 0.9rem;
  }

  .grid-container {
    width: 100%;
    margin: auto 0;
  }

  .advance-button {
    margin-top: 41px;
  }
}
