@use './variables';

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes flash-red {
  0% {
    background-color: variables.$pirelli-red;
  }
  100% {
    background-color: variables.$background-red;
  }
}

@keyframes flash-red-taken {
  0% {
    background-color: variables.$pirelli-red;
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

@keyframes shake {
  0%, 100% {
    transform: rotate(0deg);
  }
  20%, 60% {
    transform: rotate(-3deg);
  }
  40%, 80% {
    transform: rotate(3deg);
  }
}

@keyframes flash-green-placed {
  0% {
    background-color: variables.$mui-success;
  }
  50% {
    background-color: variables.$mui-success;
  }
  100% {
    background-color: variables.$background-green;
  }
} 

@keyframes gold-shimmer {
  0%, 95% { background-position-x: 100%; }
  100% { background-position-x: 0%; }
}