@use '../../scss/mixins';
@use '../../scss/variables';

// Reusable confirmation view styles with variant support.
.confirm {
  width: 100%;
  flex-grow: 1;
  color: white;
  @include mixins.flexbox-start-column;
  padding: 40px 7.5%;
  box-sizing: border-box;
  gap: 24px;

  // Default variant (grey background).
  &--default {
    background-color: variables.$colour-4;

    .confirm__btn--confirm {
      background-color: white !important;
      color: variables.$colour-4 !important;

      &:hover {
        background-color: rgba(255, 255, 255, 0.9) !important;
      }
    }
  }

  // Danger variant (red background).
  &--danger {
    background-color: variables.$f1-red;

    .confirm__btn--confirm {
      background-color: white !important;
      color: variables.$f1-red !important;

      &:hover {
        background-color: rgba(255, 255, 255, 0.9) !important;
      }
    }
  }

  // Success variant (green background).
  &--success {
    background-color: variables.$mui-success;

    .confirm__btn--confirm {
      background-color: white !important;
      color: variables.$mui-success !important;

      &:hover {
        background-color: rgba(255, 255, 255, 0.9) !important;
      }
    }
  }

  &__header {
    @include mixins.flexbox-column;
    gap: 12px;

    h2 {
      margin: 0;
      font-size: 1.5rem;
      text-align: center;
    }
  }

  &__icon {
    svg {
      font-size: 48px !important;
    }
  }

  &__content {
    @include mixins.flexbox-column;
    gap: 12px;

    p {
      margin: 0;
      text-align: center;
      line-height: 1.5;
    }
  }

  &__actions {
    width: 100%;
    margin-top: auto;
    @include mixins.flexbox-column;
    gap: 12px;
  }

  &__btn {
    width: 100%;
    font-weight: 600 !important;

    &--cancel {
      border-color: white !important;
      color: white !important;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1) !important;
      }
    }
  }
}
