@use '../../../scss/variables';
@use '../../../scss/mixins';

.position-container {
  width: 30px;
  height: 30px;
  margin: 10px;
  color: variables.$colour-9;
  @include mixins.flexbox;
  position: relative;
  flex-shrink: 0;

  .season, .change, .best, .points {
    position: absolute;
    font-size: 8px;
  }

  .change {
    top: -5px;
    color: variables.$mui-success-hover;

    &.lost {
      color: variables.$pirelli-red;
    }
  }

  // "Best!" indicator in the bottom slot.
  .best {
    bottom: -8px;
    color: variables.$mui-blue;
    font-weight: 700;
  }

  .season {
    bottom: -5px;
  }

  // Round points in the top slot.
  .points {
    top: -5px;
    color: variables.$mui-success;
  }
}
