@use '../../../scss/variables';
@use '../../../scss/mixins';

.position-container {
  width: 30px;
  height: 30px;
  margin: 10px;
  color: variables.$colour-9;
  @include mixins.flexbox;
  position: relative;
  flex-shrink: 0;

  .season, .change {
    position: absolute;
    font-size: 8px;
  }

  .change {
    top: -5px;
    color: variables.$mui-success-hover;

    &.lost {
      color: variables.$pirelli-red;
    }
  }

  .season {
    bottom: -5px;
  }

  .position {
    &.gold { color: variables.$gold; }
    &.silver { color: variables.$silver; }
    &.bronze { color: variables.$bronze; }
  }
}
