@use '../../scss/mixins';
@use '../../scss/variables';

.email-settings {
  padding: 20px 7.5% 80px !important;

  .switches {
    width: 100%;
    @include mixins.flexbox-start-column;
    flex-shrink: 0;
    padding: 0 0 20px;
    box-sizing: border-box;
    gap: 10px
  }

  .section-title {
    margin: 10px 0;
    font-size: 1.1rem;
    font-weight: 600;
  }
}