@use '../../../../scss/mixins';
@use '../../../../scss/variables';

.admin-view {
  width: 100%;
  @include mixins.flexbox-start-column;
  flex-shrink: 0;
  flex-grow: 1;
  background: white;
  padding: 20px 7.5% 80px;
  box-sizing: border-box;
}
