@use '../../../scss/mixins';
@use '../../../scss/variables';

.toggle-container {
  width: 100%;
  height: 60px;
  @include mixins.flexbox-space-between;
  padding: 20px 7.5%;
  box-sizing: border-box;
  flex-shrink: 0;
  background: white;
  margin-bottom: 2px;

  // Style the switch thumb to be grey when unchecked (contrasts with white background)
  .MuiSwitch-switchBase:not(.Mui-checked) .MuiSwitch-thumb {
    background-color: variables.$colour-2;
  }
}