@use '../../../../../scss/mixins';
@use '../../../../../scss/variables';

.betting-closed-view {
  width: 100%;
  @include mixins.flexbox-space-between-column;
  flex-grow: 1;
  padding: 20px 5% 40px;
  box-sizing: border-box;
  overflow-y: auto;

  .betting-closed-title {
    margin-bottom: 20px;

    span {
      color: variables.$mui-blue;
    }
  }

  .grid-container {
    width: 100%;
    margin: auto 0;
  }

  .advance-button {
    margin-top: 41px;
  }
}
