@use '../../../scss/variables';
@use '../../../scss/mixins';

.rounds-bar {
  width: 100%;
  @include mixins.flexbox-space-between;
  background: white;
  flex-shrink: 0;
  margin-bottom: 2px;

  // Shared styles for nav and view buttons.
  .rounds-bar-nav-btn, .rounds-bar-toggle-group, .rounds-bar-view-btn {
    height: 45px;
    border: 0px;
    border-radius: 0px;
    white-space: nowrap;

    &.Mui-selected {
      background-color: variables.$mui-blue;
      color: white !important;

      &:hover {
        background-color: variables.$mui-blue-hover;
      }
    }

    &:disabled {
      border: 0px;
    }
  }

  .rounds-bar-view-btn {
    width: 50px;
  }

  .rounds-bar-nav-btn {
    flex: 1;
    min-width: 0;
  }

  // Start next round button (adjudicator only)
  .rounds-bar-start-btn {
    @include mixins.flexbox;
    background: variables.$mui-success;
    color: white;

    .rounds-bar-favicon {
      width: 20px;
      height: 20px;
      animation: spin 2s linear infinite;
    }
  }
}