@use '../../../scss/mixins';
@use '../../../scss/variables';

.fill-loading {
  width: 100%;
  flex-grow: 1;
  @include mixins.flexbox-column;

  p {
    margin-top: 40px;
    color: variables.$mui-blue;
  }
}
