@use '../../../scss/mixins';
@use '../../../scss/variables';

.competitor-card {
  width: 100%;
  min-height: 80px;
  @include mixins.flexbox-start;
  background: white;
  cursor: pointer;
  transition: variables.$trans-speed;
  padding: 5px 7.5%;
  box-sizing: border-box;

  .competitor-icon-container {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    @include mixins.flexbox;
  }

  .competitor-name {
    color: variables.$colour-9;
    text-transform: capitalize;
    font-size: 14px;
    margin-left: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.06);
  }

  // Adds spacing between consecutive CompetitorCards
  & + .competitor-card {
    margin-top: 2px;
  }
}
