@use '../../../scss/mixins';
@use '../../../scss/variables';

.competitor-card {
  width: 100%;
  min-height: 80px;
  @include mixins.flexbox-start;
  background: white;
  cursor: pointer;
  transition: variables.$trans-speed;
  padding: 5px 7.5%;
  box-sizing: border-box;

  .competitor-name {
    color: variables.$colour-9;
    text-transform: capitalize;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.06);
  }

  // Adds spacing between consecutive CompetitorCards
  & + .competitor-card {
    margin-top: 2px;
  }

  // Highlight animation for newly added competitors.
  &.competitor-card-highlight {
    animation: highlightFade 1.5s ease-out forwards;
  }
}

// Keyframes for green to white fade animation.
@keyframes highlightFade {
  0% {
    background: variables.$mui-success;
  }
  100% {
    background: white;
  }
}
