@use '../../../../scss/mixins';
@use '../../../../scss/variables';

// Protests view container.
.protests-view {
  width: 100%;
  @include mixins.flexbox-start-column;
  align-items: stretch;
  background-color: variables.$colour-9;
  flex-grow: 1;
  padding-bottom: 120px;
}

// Empty state message.
.protests-view__empty {
  padding: 40px 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}
