@use '../../../../scss/variables';

.add-button, .add-button-absolute {
  background: variables.$mui-success !important;
  border-radius: 9999px !important;
  aspect-ratio: 1 !important;
  min-width: unset !important;
  color: white !important;

  span {
    margin: 0 !important;
  }

  svg {
    font-size: 24px !important;
  }

  &:hover {
    background: variables.$mui-success-hover !important;
  }

  // When text is present, allow button to grow for content
  &.add-button--with-text {
    aspect-ratio: unset !important;
    width: auto !important;
    padding: 0 4px 0 12px !important;
  }
}

.add-button-absolute {
  position: absolute !important;
  bottom: 20px;
  right: 20px;
}