@use '../../scss/mixins';

// Championship detail page styles
.championship-loading {
  width: 100%;
  height: 200px;
  @include mixins.flexbox;
}

// List of competitors in the championship standings
.competitors-list {
  width: 100%;
  @include mixins.flexbox-column;
}
