@use "../../../scss/mixins";
@use "../../../scss/variables";

.button-bar {
  width: 100%;
  flex-shrink: 0;
  background: white;
  @include mixins.flexbox;
  justify-content: space-evenly;
  z-index: 5;
  border-top: 2px solid variables.$background;
  padding: 15px 0;
  box-sizing: border-box;
}