@use '../../../scss/variables';
@use '../../../scss/mixins';

.actions-drawer {
  width: 100%;
  min-height: 400px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;
  z-index: 10;
  padding: 20px;
  box-sizing: border-box;
  border-top: 2px solid variables.$background;
  transform: translateY(100%);
  transition: transform 0.3s ease-out;
  @include mixins.flexbox-column;
}

.actions-drawer-open {
  transform: translateY(0);
}
