@use '../../../scss/mixins';
@use '../../../scss/variables';

.driver-bet-card {
  @include mixins.flexbox-start-column;
  background: white;
  height: 80px;
  width: calc((100% - 1.5rem) / 4);
  max-width: 90px;
  padding: 5px;
  box-sizing: border-box;
  border: 2px solid variables.$colour-4;
  border-radius: 8px;
  transition: all 0.2s ease;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  color: variables.$colour-9;

  .driver-card-header {
    width: 100%;
    @include mixins.flexbox-space-between;
    position: relative;
    z-index: 2;

    > :only-child {
      margin-left: auto;
    }

    p {
      font-weight: 600;
    }
  }

  .driver-icon {
    height: calc(107% - 22px);
    position: absolute;
    left: -16px;
    top: 22px;
    z-index: 1;
  }

  .image-icon {
    position: absolute;
    bottom: -6px;
    right: -6px;
  }

  &.pending {
    pointer-events: none;
    border-color: variables.$mui-blue;
  }

  &.my-bet {
    border-color: variables.$mui-success;
    background-color: variables.$selected;
  }

  &.taken {
    border-color: variables.$colour-1-5;
    background-color: variables.$colour-2;
    cursor: not-allowed;
    opacity: 0.6;
  }

  &.rejected {
    border-color: #f44336;
    background-color: #ffebee;
    animation: flash-red 0.5s ease-out;
  }
}

@keyframes flash-red {
  0% {
    background-color: #f44336;
  }
  100% {
    background-color: #ffebee;
  }
}
