@use '../../../../scss/mixins';
@use '../../../../scss/variables';

.champ-quick-stats {
  width: 70px;
  height: 50px;
  position: relative;
  flex-shrink: 0;

  .champ-quick-stats-left {
    width: 50%;
    height: 100%;
    @include mixins.flexbox-column;

    h5 {
      color: variables.$colour-9;
      font-weight: 300;
    }
  }

  .position-container, .points-container  {
    position: absolute;
    top: 0;
    margin: 10px 0;
  }
  
  .position-container {
    left: 0;
  }

  .points-container {
    right: 0;
  }

  .champ-deleted {
    width: 100%;
    color: variables.$pirelli-red;
    text-align: center;
    font-weight: 300;
  }
}