@use '../../../scss/mixins';
@use '../../../scss/variables';

.badge-picker {
  width: 100%;
  position: relative;
  overflow: hidden;
  @include mixins.flexbox-space-between-column;
  flex-shrink: 0;
  flex-grow: 1;

  // Only grow to fill space when showing the loading spinner.
  &:has(.badge-picker-loading) {
    flex-grow: 1;
  }

  .badge-list-container, .badge-picker-loading {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, max-content));
    justify-content: space-evenly;
    padding: 20px 7.5% 60px;
    box-sizing: border-box;
    overflow-y: auto;
    row-gap: 10px;

    .badge-item {
      @include mixins.flexbox;
      position: relative;
    }
  }

  .badge-list-empty, .badge-picker-loading {
    padding: 20px 7.5%;
  }

  .badge-picker-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  .badge-list-error {
    color: variables.$delete-hover;
  }
}