@use '../../../scss/mixins';
@use '../../../scss/variables';

.rules-and-regs-picker {
  width: 100%;
  @include mixins.flexbox-start-column;
  flex-grow: 1;
  background: white;

  .rules-and-regs-list, .rules-and-regs-empty {
    width: 100%;
    padding: 20px 7.5% 120px;
    box-sizing: border-box;
     flex-grow: 1;
  }

  // Sticky ButtonBar overlaps content (no blank space at bottom).
  .button-bar {
    margin-top: -22px;
  }
}
