@use '../../../scss/variables';

.series-option {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 4px 0;

  .series-option-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
  }

  .series-option-name {
    font-size: 14px;
    color: variables.$colour-9;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .series-option-stats {
    font-size: 11px;
    color: variables.$colour-4;
  }

  .series-option-rounds {
    flex-shrink: 0;
    text-align: right;
  }

  .series-option-rounds-badge {
    font-size: 12px;
    color: variables.$colour-9;
  }

  .series-option-rounds-none {
    font-size: 11px;
    color: variables.$colour-3;
    font-style: italic;
  }

  // Grayed-out variant for series without rounds.
  &--disabled {
    opacity: 0.45;

    .series-option-name {
      color: variables.$colour-3;
    }
  }
}
