@use '../../../../scss/mixins';
@use '../../../../scss/variables';

.champ-section {
  width: 100%;
  @include mixins.flexbox-start-column;
  box-sizing: border-box;

  .champ-section-header {
    width: 100%;
    @include mixins.flexbox-start;
    cursor: pointer;
    background: white;
    border: 2px solid variables.$background;
    padding: 5px 7.5%;
    box-sizing: border-box;
    overflow: hidden;

    .image-icon {
      margin-right: 15px;
      width: auto;
      height: 80%;
      aspect-ratio: 1/1;
    }

    .champ-section-info {
      flex: 1;
      min-width: 0;
      margin-left: 15px;

      .champ-name {
        font-size: 14px;
        font-weight: 300;
        color: variables.$colour-9;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .champ-banner-stats {
        margin: 5px 0 0 0;
      }
    }
  }

  .champ-badges-grid {
    width: 100%;
    padding: 20px 7.5% 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, max-content));
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
    row-gap: 10px;
  }

  .no-badges {
    width: 100%;
    margin-top: 20px;
    font-size: 14px;
    color: variables.$colour-4;
    text-align: center;
  }
}