@use '../../../../../scss/variables';
@use '../../../../../scss/mixins';

// CreateProtest form container.
.create-protest {
  width: 100%;
  @include mixins.flexbox-start-column;
  align-items: stretch;
  gap: 16px;
  background-color: variables.$colour-9;
  flex-grow: 1;
  padding: 20px;
  padding-bottom: 120px;
  box-sizing: border-box;
}

// Input fields.
.create-protest__input {
  width: 100%;
}

// Character count display.
.create-protest__char-count {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
  text-align: right;
  margin: -12px 0 0 0;
}
