@use '../../scss/mixins';
@use '../../scss/variables';

.league-detail {
  @include mixins.flexbox-start-column;
  background: white;
  position: relative;

  // Round history section.
  .league-round-history {
    width: 100%;
    padding: 10px 7.5% 20px;
    box-sizing: border-box;

    h3 {
      margin-bottom: 12px;
      color: variables.$colour-9;
      font-size: 16px;
    }
  }
}
