@use '../../scss/mixins';
@use '../../scss/variables';

.league-detail {
  @include mixins.flexbox-start-column;
  background: white;

  .league-actions {
    width: 100%;
    padding: 15px 7.5%;
    box-sizing: border-box;
    @include mixins.flexbox-column;

    .league-join {
      width: 100%;
      @include mixins.flexbox-start;
      gap: 10px;

      .league-join-select {
        flex: 1;
      }
    }
  }

  .league-round-history {
    width: 100%;
    padding: 20px 7.5%;
    box-sizing: border-box;

    h3 {
      margin-bottom: 15px;
      color: variables.$colour-9;
    }
  }

  .league-delete-section {
    width: 100%;
    padding: 30px 7.5%;
    box-sizing: border-box;
    border-top: 1px solid #f0f0f0;
    @include mixins.flexbox-column;

    .league-delete-confirm {
      width: 100%;
      @include mixins.flexbox-column;
      gap: 10px;

      p {
        font-size: 13px;
        color: #888;
      }
    }
  }
}
