@use '../../../scss/mixins';
@use '../../../scss/variables';

.series-list-card {
  width: 100%;
  min-height: 60px;
  @include mixins.flexbox-start;
  background: white;
  cursor: pointer;
  transition: variables.$trans-speed;
  position: relative;
  padding: 5px 7.5%;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;

  .main-icon-container {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    position: relative;
    @include mixins.flexbox;

    > :last-child {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .series-list-content {
    height: 100%;
    flex-grow: 1;
    @include mixins.flexbox-column;
    align-items: start;
    padding: 10px 0;
    box-sizing: border-box;
    margin-left: 20px;
    overflow: hidden;

    .series-list-title {
      width: 100%;
      color: variables.$colour-9;
      margin-bottom: 8px;
      text-transform: capitalize;
      overflow-wrap: break-word;
      font-size: 15px;
    }

    .series-list-drivers {
      width: 100%;
      @include mixins.flexbox-start;

      > *:not(:first-child) {
        margin-left: 5px;
      }
    }
  }

  &:hover {
    background: rgba(0, 0, 0, 0.06);
  }

  .selected-banner {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 8px 10px;
    box-sizing: border-box;
    background: white;
    @include mixins.flexbox;

    span {
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      font-size: 12px;
      font-weight: 500;
      color: variables.$mui-blue;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }

  &.selected {
    background: variables.$mui-blue;
    cursor: default;

    .series-list-content .series-list-title {
      color: white;
    }

    &:hover {
      background: variables.$mui-blue;
    }
  }

  // Adds spacing between consecutive SeriesListCards.
  & + .series-list-card {
    margin-top: 2px;
  }

  // Highlight animation for newly added series.
  &.series-list-card-highlight {
    animation: highlightFade 1.5s ease-out forwards;
  }
}

// Keyframes for green to white fade animation.
@keyframes highlightFade {
  0% {
    background: variables.$mui-success;
  }
  100% {
    background: white;
  }
}
