.demo-picker {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 5% 40px;
  box-sizing: border-box;

  &__sessions {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  &__session-btn {
    width: 100%;
    margin-bottom: 20px !important;
  }
}
