@use 'sass:color';
@use '../../../../scss/mixins';
@use '../../../../scss/variables';

.champ-toolbar {
  width: 100%;
  @include mixins.flexbox-space-between;
  padding: 20px 7.5%;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  z-index: 3;
  pointer-events: none;

  * {
    pointer-events: all;
  }

  // Push single item to the right.
  > *:only-child {
    margin-left: auto;
  }

  .badge-buttons {
    > *:last-child {
      margin-left: 10px;
    }
  }

  .champ-toolbar-back {
    background-color: variables.$colour-4 !important;

    &:hover {
      background-color: color.adjust(variables.$colour-4, $lightness: -10%) !important;
    }
  }

  .champ-toolbar-join {
    background-color: variables.$mui-success !important;

    &:hover {
      background-color: variables.$mui-success-hover !important;
    }
  }

  .champ-toolbar-save {
    background-color: variables.$mui-success !important;

    &:hover {
      background-color: variables.$mui-success-hover !important;
    }

    &:disabled {
      background-color: variables.$colour-4 !important;
      color: rgba(0, 0, 0, 0.26) !important;
    }
  }

  .champ-toolbar-add {
    background-color: variables.$mui-success !important;

    &:hover {
      background-color: variables.$mui-success-hover !important;
    }
  }

  .champ-toolbar-submit {
    background-color: variables.$mui-success !important;

    &:hover {
      background-color: variables.$mui-success-hover !important;
    }

    &:disabled {
      background-color: variables.$colour-4 !important;
      color: rgba(0, 0, 0, 0.26) !important;
    }
  }
}
