@use 'sass:color';
@use '../../../../scss/mixins';
@use '../../../../scss/variables';

// ChampToolbar specific styles (positioning handled by ButtonBar).
.champ-toolbar {
  width: 100%;
  @include mixins.flexbox-space-between;

  // Push single item to the right.
  > *:only-child {
    margin-left: auto;
  }

  .badge-buttons {
    > *:last-child {
      margin-left: 10px;
    }
  }
}
