@use 'sass:color';
@use '../../../../scss/mixins';
@use '../../../../scss/variables';

.champ-toolbar {
  width: 100%;
  @include mixins.flexbox-end;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  z-index: 3;
  pointer-events: none;

  * {
    pointer-events: all;
  }

  > *:not(:first-child) {
    margin-left: 10px;
  }

  .champ-toolbar-back {
    background-color: variables.$colour-4 !important;
    margin-right: auto;

    &:hover {
      background-color: color.adjust(variables.$colour-4, $lightness: -10%) !important;
    }
  }

  .champ-toolbar-join {
    background-color: variables.$mui-success !important;

    &:hover {
      background-color: variables.$mui-success-hover !important;
    }
  }

  .champ-toolbar-save {
    background-color: variables.$mui-success !important;
    margin-left: auto !important;
    margin-right: auto !important;

    &:hover {
      background-color: variables.$mui-success-hover !important;
    }

    &:disabled {
      background-color: variables.$colour-4 !important;
      color: rgba(0, 0, 0, 0.26) !important;
    }
  }
}
