@use '../../../../../scss/mixins';
@use '../../../../../scss/variables';

// Start round confirmation view styles.
.start-round-confirm {
  width: 100%;
  flex-grow: 1;
  background-color: variables.$mui-success;
  color: white;
  @include mixins.flexbox-start-column;
  padding: 20px 7.5% 40px;
  box-sizing: border-box;
  gap: 24px;

  &__header {
    @include mixins.flexbox-column;
    gap: 12px;

    h2 {
      margin: 0;
      font-size: 1.5rem;
    }
  }

  &__icon {
    font-size: 48px !important;
  }

  &__content {
    @include mixins.flexbox-column;
    gap: 12px;

    p {
      margin: 0;
      text-align: center;
      line-height: 1.5;
    }
  }

  &__actions {
    width: 100%;
    margin-top: auto;
    @include mixins.flexbox-column;
    gap: 12px;
  }

  &__btn {
    width: 100%;
    font-weight: 600 !important;

    &--cancel {
      border-color: white !important;
      color: white !important;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1) !important;
      }
    }

    &--confirm {
      background-color: white !important;
      color: variables.$mui-success !important;

      &:hover {
        background-color: rgba(255, 255, 255, 0.9) !important;
      }
    }
  }
}
