@use '../../../../../../scss/variables';
@use '../../../../../../scss/mixins';

.competitor-results-card {
  width: 100%;
  height: 64px;
  @include mixins.flexbox-start;
  background: white;
  padding: 5px 7.5%;
  box-sizing: border-box;
  margin-bottom: 2px;

  // Position indicator.
  &__position {
    flex-shrink: 0;
    margin: 0 10px;
  }

  // Badges container fills remaining space.
  &__badges {
    flex-grow: 1;
    @include mixins.flexbox-start;
    gap: 4px;
    min-width: 0;
  }
}
