@use '../../scss/mixins';
@use '../../scss/variables';

body #root .main-logged-in .content-container.create-team {
  @include mixins.flexbox-start-column;
  padding: 20px 7.5%;
  box-sizing: border-box;
  background: white;

  h4 {
    width: 100%;
    color: variables.$colour-6;
    margin-bottom: 40px;
    text-align: left;
  }

  .create-team-dropzones {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 20px;
    margin-bottom: 40px;

    .create-team-dropzone-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;

      .dropzone {
        width: 100%;
        margin-bottom: 0 !important;
      }

      // Logo DropZone - add padding for object-fit: contain.
      &.logo-dropzone .dropzone .inside-border img {
        padding: 15%;
        box-sizing: border-box;
      }
    }
  }

  .driver-picker {
    width: 100%;
    min-height: 240px;
    border-radius: 4px;
    @include mixins.flexbox-start-column;
    flex-shrink: 0;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;

    .driver-picker-list {
      width: 100%;
      background: rgba(0, 0, 0, 0.06);
      flex-grow: 1;
      @include mixins.flexbox-start-column;
      overflow-y: scroll;
      padding: 8px 0 50px;
      box-sizing: border-box;
    }
  }
}
