@use '../../../../scss/mixins';
@use '../../../../scss/variables';

// Championship settings card styles.
.champ-settings-card {
  width: 100%;
  @include mixins.flexbox-start-column;
  flex-shrink: 0;
  flex-grow: 1;
  background: white;
  padding: 20px 7.5% 80px;
  box-sizing: border-box;

  .mui-form-pagination {
    background: none !important;
    width: 100% !important;
    height: 32px !important;
    @include mixins.flexbox;
    position: relative;
    z-index: 1 !important;

    ul {
      width: 100%;
      @include mixins.flexbox-space-between;
      flex-wrap: nowrap;
    }

    li {
      width: 11.1%;
      @include mixins.flexbox;
    }
  }

  &__icon-btn {
    width: 100%;
    margin-bottom: 20px !important;
  }

  &__delete-btn {
    width: 100%;
    margin-top: 10px;
    background-color: variables.$f1-red !important;

    &:hover {
      background-color: variables.$f1-red-hover !important;
    }
  }
}
