@use '../../../../scss/mixins';
@use '../../../../scss/variables';

// Championship settings component styles.
.champ-settings {
  width: 100%;
  @include mixins.flexbox-column;
  gap: 24px;
  padding: 0px 7.5% 80px;

  &__header {
    @include mixins.flexbox-column;
    align-items: flex-start;
    gap: 8px;

    h2 {
      margin: 0;
      font-size: 1.5rem;
      color: variables.$colour-9;
    }
  }

  &__content {
    width: 100%;
    flex-grow: 1;
    @include mixins.flexbox-column;
    gap: 16px;
  }

  &__placeholder {
    color: variables.$colour-4;
    font-style: italic;
  }

  &__delete-btn {
    width: 60%;
    margin-top: auto;
    background-color: variables.$f1-red !important;

    &:hover {
      background-color: variables.$f1-red-hover !important;
    }
  }
}
