@use '../../../../scss/mixins';
@use '../../../../scss/variables';

.driver-edit {
  width: 100%;
  @include mixins.flexbox-start-column;
  flex-shrink: 0;
  padding: 20px 7.5%;
  box-sizing: border-box;
  background: white;

  h4 {
    width: 100%;
    color: variables.$colour-6;
    margin-bottom: 40px;
    text-align: left;
  }

  .driver-edit-dropzones {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 20px;
    margin-bottom: 40px;

    .driver-edit-dropzone-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;

      .dropzone {
        width: 100%;
        margin-bottom: 0 !important;
      }
    }
  }

  .driver-edit-stats {
    width: 100%;
    @include mixins.flexbox-space-between;
    margin-bottom: 20px;

    > * {
      width: 48%;
    }
  }

  .driver-edit-checkboxes {
    @include mixins.flexbox-space-between;
    gap: 20px;

    > * {
      @include mixins.flexbox-start;
    }
  }
}